<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>TheEvent Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">

    <style>
      
    </style>

    </head>
    <body>
        
        
        <!-- ======= Header ======= -->
        <header id="header" class="d-flex align-items-center ">
        <div class="container-fluid container-xxl d-flex align-items-center">

            <div id="logo" class="me-auto">
            <!-- Uncomment below if you prefer to use a text logo -->
            <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
            <a href="index.html" class="scrollto"><img src="assets/img/logo.png" alt="" title=""></a>
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="index.html">Home</a></li>
                <li><a class="nav-link scrollto" href="sentiment_graphic.html">Sentiments of All Brands</a></li>
                <li><a class="nav-link scrollto" href="number_of_comments.html">Number of Comments</a></li>
                <li><a class="nav-link scrollto" href="#schedule">Schedule</a></li>
                <li><a class="nav-link scrollto" href="#venue">Venue</a></li>
                <li><a class="nav-link scrollto" href="#hotels">Hotels</a></li>
                <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
                <li><a class="nav-link scrollto" href="#supporters">Sponsors</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            <a class="buy-tickets scrollto" href="#buy-tickets">Buy Tickets</a>

        </div>
        </header><!-- End Header -->

        <!-- ======= Speakers Section ======= -->
    <section id="speakers">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Automobiles</h2>
            <p>Here are some of brands</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                <img src="static/assets/img/volvo.jpg" alt="Brand 1" class="img-fluid">
                <div class="details">
                  <h3><a href="volvo.html">Volvo</a></h3>
                  <p>Quas alias incidunt</p>
                  <div class="social">
                    <a href="https://www.volvocars.com/tr/"><i class="bi bi-google"></i></a>
                    <a href="https://www.instagram.com/volvocartr/"><i class="bi bi-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="speaker" data-aos="fade-up" data-aos-delay="200">
                <img src="static/assets/img/bmw.jpg" alt="Brand 2" class="img-fluid">
                <div class="details">
                  <h3><a href="bmw.html">Bmw</a></h3>
                  <p>Consequuntur odio aut</p>
                  <div class="social">
                    <a href=""><i class="bi bi-google"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                <img src="static/assets/img/audi.jpg" alt="Speaker 3" class="img-fluid">
                <div class="details">
                  <h3><a href="audi.html">Audi</a></h3>
                  <p>Fugiat laborum et</p>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                <img src="static/assets/img/mercedes.jpg" alt="Brands 4" class="img-fluid">
                <div class="details">
                  <h3><a href="mercedes.html">Mercedes</a></h3>
                  <p>Debitis iure vero</p>
                  <div class="social">
                    <a href="https://www.instagram.com/mercedesbenz/"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.mercedesbenzturk.com.tr/"><i class="bi bi-google"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="speaker" data-aos="fade-up" data-aos-delay="200">
                <img src="static/assets/img/tesla.jpg" alt="Speaker 5" class="img-fluid">
                <div class="details">
                  <h3><a href="speaker-details.html">Tesla</a></h3>
                  <p>Qui molestiae natus</p>
                  <div class="social">
                    <a href="https://www.instagram.com/teslamotors/"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.tesla.com/tr_tr"><i class="bi bi-google"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="speaker" data-aos="fade-up" data-aos-delay="300">
                <img src="static/assets/img/Vw.jpg" alt="Brand 6" class="img-fluid">
                <div class="details">
                  <h3><a href="speaker-details.html">Volkswagen</a></h3>
                  <p>Non autem dicta</p>
                  <div class="social">
                    <a href="https://www.instagram.com/vwturkiye/"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.vw.com.tr/"><i class="bi bi-google"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </section><!-- End Speakers Section -->

        <!-- Vendor JS Files -->
        <script src="static/assets/vendor/aos/aos.js"></script>
        <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="static/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="static/assets/js/main.js"></script>
       
    </body>
</html>



